
<div class="center hero-unit">
<h1>欢迎来到抱团网!</h1>
<h2>
一个给学生提供团体活动的网站
<!-- href="http://railstutorial.org/">此网站用rails开发，相关rails学习资料-->

</h2>

<%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
<%= link_to "Sign in!",new_session_path, class: "btn btn-large btn-primary" %>

</div>
